<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ng-container *ngIf="detectionPage !== 1">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ng-container>

    <ng-container *ngIf="detectionPage === 1">
      <ion-button style="border-radius: 9999px; font-size: 16px;" fill="clear" slot="start" (click)="gotoPageDash()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ng-container>
    <ion-title>{{tingkatan}}</ion-title>
    <ion-buttons slot="end">
      <ion-button id="filter-data">
        <ion-icon name="filter-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <app-dashboard-desc-filter></app-dashboard-desc-filter>
  <ng-container *ngIf="tingkatan === 'Presiden' && loadingDashboardCalegCapresIndikator">
    <div class="container">
      <ng-container *ngIf="reloadDashboardCalegCapresIndikator">
        <div class="reload">
          <ion-spinner name="lines-sharp"></ion-spinner>
          <ion-button fill="clear" (click)="reloadCapres()">Reload</ion-button>
        </div>
      </ng-container>
      <app-dash-capres-skeleton></app-dash-capres-skeleton>
    </div>
  </ng-container>

  <ng-container *ngIf="tingkatan === 'Presiden' && !loadingDashboardCalegCapresIndikator">
    <app-dashboard-capres></app-dashboard-capres>
  </ng-container>

  <ng-container *ngIf="loadingDashboardTpsIndikator">
    <div class="container">
      <ng-container *ngIf="reloadDashboardTpsIndikator">
        <div class="reload">
          <ion-spinner name="lines-sharp"></ion-spinner>
          <ion-button fill="clear" (click)="reloadTps()">Reload</ion-button>
        </div>
      </ng-container>
      <app-dash-tps-skeleton></app-dash-tps-skeleton>
    </div>
  </ng-container>

  <ng-container *ngIf="!loadingDashboardTpsIndikator">
    <app-dashboard-tps></app-dashboard-tps>
  </ng-container>

  <ng-container *ngIf="tingkatan === 'Presiden' && loadingDashboardCalegCapresIndikator">
    <div class="container">
      <ng-container *ngIf="reloadDashboardCalegCapresIndikator">
        <div class="reload">
          <ion-spinner name="lines-sharp"></ion-spinner>
          <ion-button fill="clear" (click)="reloadPie()">Reload</ion-button>
        </div>
      </ng-container>
      <app-dash-pie-skeleton></app-dash-pie-skeleton>
    </div>
  </ng-container>

  <ng-container *ngIf="tingkatan === 'Presiden' && !loadingDashboardCalegCapresIndikator">
    <app-dashboard-pie-chart></app-dashboard-pie-chart>
  </ng-container>

  <ng-container *ngIf="tingkatan !== 'Presiden' && loadingDashboardCalegCapresIndikator">
    <div class="container">
      <ng-container *ngIf="reloadDashboardCalegCapresIndikator">
        <div class="reload">
          <ion-spinner name="lines-sharp"></ion-spinner>
          <ion-button fill="clear" (click)="reloadBar()">Reload</ion-button>
        </div>
      </ng-container>
      <app-dash-bar-skeleton></app-dash-bar-skeleton>
    </div>
  </ng-container>

  <ng-container *ngIf="tingkatan !== 'Presiden' && !loadingDashboardCalegCapresIndikator">
    <app-dashboard-bar-chart></app-dashboard-bar-chart>
  </ng-container>

  <ng-container *ngIf="loadingDashboardTpsIndikator">
    <div class="container">
      <ng-container *ngIf="reloadDashboardCalegCapresIndikator">
        <div class="reload">
          <ion-spinner name="lines-sharp"></ion-spinner>
          <ion-button fill="clear" (click)="reloadList()">Reload</ion-button>
        </div>
      </ng-container>
      <app-perolehan-suara-partai-skeleton></app-perolehan-suara-partai-skeleton>
    </div>
  </ng-container>

  <ng-container *ngIf="!loadingDashboardTpsIndikator">
    <app-dashboard-list></app-dashboard-list>
  </ng-container>

  <ion-modal #modal trigger="filter-data" [initialBreakpoint]="0.50" [breakpoints]="[0, 0.50]">
    <ng-template>
      <app-dashboard-modal-filter-data (filter)="filterData($event)" (reset)="resetData()"
        [tingkatan]="tingkatan!"></app-dashboard-modal-filter-data>
    </ng-template>
  </ion-modal>
</ion-content>