<div class="info__tps">
  <div class="dashboard_menu__kategori__items dpd" (click)="gotoPage(2)">
    <ion-thumbnail class="dashboard_kategori__thumbnail">
      <img alt="DPD" src="../../../assets/dpd.png" />
    </ion-thumbnail>
    <ion-label class="ion-text-nowrap ion-text-center menu-kategori">DPD</ion-label>
  </div>
  <div class="dashboard_menu__kategori__items dpr" (click)="gotoPage(1)">
    <ion-thumbnail class="dashboard_kategori__thumbnail">
      <img alt="DPR" src="../../../assets/dpr.png" />
    </ion-thumbnail>
    <ion-label class="ion-text-nowrap ion-text-center  menu-kategori">DPR</ion-label>
  </div>
  <div class="dashboard_menu__kategori__items dprd" (click)="gotoPage(3)">
    <ion-thumbnail class="dashboard_kategori__thumbnail">
      <img alt="DPRD" src="../../../assets/dprd.png" />
    </ion-thumbnail>
    <ion-label class="ion-text-nowrap ion-text-center  menu-kategori">DPRD I</ion-label>
  </div>
  <div class="dashboard_menu__kategori__items dprdprov" (click)="gotoPage(4)">
    <ion-thumbnail class="dashboard_kategori__thumbnail">
      <img alt="DPRD PROV" src="../../../assets/dprd2.png" />
    </ion-thumbnail>
    <ion-label class="ion-text-nowrap ion-text-center  menu-kategori">DPRD II</ion-label>
  </div>
</div>

<div class="presiden" (click)="gotoPage(5)">
  <ion-thumbnail class="dashboard_kategori__thumbnail">
    <img alt="Presiden" src="../../../assets/logo_presiden.png" />
  </ion-thumbnail>
  <ion-label class="ion-text-center">Presiden</ion-label>
</div>