.info__tps {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    // overflow: auto;
    // &::-webkit-scrollbar {
    //     display: none;
    // }
}

.dashboard_menu__kategori__items {
    flex: 1;
    width: 96px;
    height: 120px;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.presiden {
    width: 100%;
    height: 120px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

ion-thumbnail.dashboard_menu__kategori__items {
    --size: 72px;
}

.menu-kategori{
    font-size: 12px;
}

@media screen and (max-width: 480px) {
    .dashboard_menu__kategori__items {
        flex: 1;
        width: 72px;
        height: 120px;
        gap: 8px;
    }

    ion-thumbnail.dashboard_menu__kategori__items {
        --size: 56px;
    }

    
}



.presiden {
    background: #F2EBF6;
}

.dpd {
    background: #F147AD;
}

.dpr {
    background: #F7D941;
}

.dprd {
    background: #F17F0D;
}

.dprdprov {
    background: #89CD11;
}