<ng-container *ngIf="!cekDataEmpty">
  <div class="list-calon">
    <ion-list style="padding: 0;">
      <ng-container *ngFor="let paslon of paslon">
        <ion-item>
          <ng-container *ngIf="paslon.foto_caleg === undefined">
            <ion-avatar slot="start">
              <img src="../../../assets/blank-user.png" />
            </ion-avatar>
          </ng-container>


          <ng-container *ngIf="paslon.foto_caleg !== undefined">
            <ion-avatar slot="start">
              <ion-img [src]="paslon.foto_caleg"></ion-img>
            </ion-avatar>
          </ng-container>

          <ion-label>
            <ion-chip>
              <ion-avatar>
                <img [alt]="paslon.nama_partai" [src]="paslon.logo_partai === null ?'https://ionicframework.com/docs/img/demos/thumbnail.svg' : paslon.logo_partai" />
              </ion-avatar>
              <ion-label>{{paslon.nama_partai}}</ion-label>
            </ion-chip>
            <ng-container *ngIf="paslon.n_wakil_calon === undefined">
              <h2 style="color: #2F2762;" class="ion-text-wrap">{{paslon.n_calon}}</h2>
            </ng-container>
            <ng-container *ngIf="paslon.n_wakil_calon !== undefined">
              <h2 style="color: #2F2762;" class="ion-text-wrap">{{paslon.n_calon}} | {{paslon.n_wakil_calon}}</h2>
            </ng-container>
            <div class="list-calon-track">
              <div class="list-calon-active" [style.width]="paslon.percent"></div>
            </div>
            <p style="color: #2F2762;">{{ paslon.suara| number}} suara</p>
          </ion-label>
          <ion-label slot="end">
            <h2 style="color: #2F2762;">{{paslon.percent}}</h2>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
  </div>
</ng-container>