<ion-content [fullscreen]="true">
  <div class="log-in">
    <ion-img src="../../../assets/Lambang_Kota_Tangerang_Selatan.svg.png" class="logo-tangsel"
      alt="Tangerang Selatan"></ion-img>
    <ion-text class="ion-text-center" color="primary">
      <h1>Selamat Datang</h1>
    </ion-text>
    <form class="form-login" [formGroup]="loginForm" #formDir="ngForm" (submit)="onSubmit()">
      <ion-input id="username" name="username" type="text" label-placement="floating" fill="outline" label="Username"
        placeholder="Masukan Username" formControlName="username"
        [errorText]="usernameRequest && 'Username is Request'"></ion-input>
      <ion-input id="password" name="password" type="password" label-placement="floating" fill="outline"
        label="Password" placeholder="Masukan Password" formControlName="password"
        [errorText]="passwordRequest && 'Password is Request'"></ion-input>
      <ion-button id="login" type="submit" expand="block" [disabled]="!loginForm.valid">Login</ion-button>
    </form>
  </div>
</ion-content>