.user__info {
    width: 100%;
    max-height: 213px;
    background: #F7FAFC;
    box-shadow: 0px 3px 8px rgba(74, 85, 104, 0.07);
    border-radius: 24px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

.linear__track{
    width: 100%;
    height: 16px;
    background-color: #CFE9FF;
    border-radius: 70px
}

.linear__active{
    height: 16px;
    background-color: #2F2762;
    border-radius: 70px
}