<div class="dash-tps-info">
  <div class="dash-total-tps">
    <ion-img class="img-total-tps" src="../../../assets/total_tps.png" alt="total tps"></ion-img>
    <ion-note class="total-tps-detail">
      {{totalTps | number}} <br> Total TPS
    </ion-note>
  </div>
  <div class="dash-tps-masuk">
    <ion-img class="img-total-tps" src="../../../assets/suara_masuk.png" alt="total tps"></ion-img>
    <ion-note class="tps-masuk-detail">
      {{suaraTpsMasuk | number}} <br> Total Tps Masuk
    </ion-note>
  </div>
  <div class="dash-suara-masuk">
    <ion-img class="img-total-tps" src="../../../assets/suara_masuk.png" alt="total tps"></ion-img>
    <ion-note class="suara-masuk">
      {{totalTpsMasuk | number}} <br> Suara Masuk
    </ion-note>
  </div>
</div>