<ion-list>
  <ion-item>
    <ion-skeleton-text slot="start" [animated]="true" style="width: 30%; height: 20px; border-radius: 14px;"></ion-skeleton-text>
    <ion-skeleton-text slot="end" [animated]="true" style="width: 10%; height: 20px; border-radius: 14px;"></ion-skeleton-text>
  </ion-item>
  <ion-item>
    <ion-skeleton-text slot="start" [animated]="true" style="width: 30%; height: 20px; border-radius: 14px;"></ion-skeleton-text>
    <ion-skeleton-text slot="end" [animated]="true" style="width: 10%; height: 20px; border-radius: 14px;"></ion-skeleton-text>
  </ion-item>
</ion-list>