<div class="info__tps">
  <div class="menu__kategori__items dpd" (click)="gotoPage(2)">
    <ion-thumbnail class="kategori__thumbnail">
      <img alt="DPD" src="../../../assets/dpd.png" />
    </ion-thumbnail>
    <ion-note class="ion-text-wrap ion-text-center light">DPD</ion-note>
  </div>
  <div class="menu__kategori__items dpr" (click)="gotoPage(1)">
    <ion-thumbnail class="kategori__thumbnail">
      <img alt="DPR" src="../../../assets/dpr.png" />
    </ion-thumbnail>
    <ion-note class="ion-text-wrap ion-text-center">DPR</ion-note>
  </div>
  <div class="menu__kategori__items dprd" (click)="gotoPage(3)">
    <ion-thumbnail class="kategori__thumbnail">
      <img alt="DPRD" src="../../../assets/dprd.png" />
    </ion-thumbnail>
    <ion-note class="ion-text-wrap ion-text-center">DPRD I</ion-note>
  </div>
  <div class="menu__kategori__items dprdprov" (click)="gotoPage(4)">
    <ion-thumbnail class="kategori__thumbnail">
      <img alt="DPRD PROV" src="../../../assets/dprd2.png" />
    </ion-thumbnail>
    <ion-note class="ion-text-wrap ion-text-center">DPRD II</ion-note>
  </div>
</div>