<div class="perolehan__suara">
  <div class="total__tps">
    <ion-img style="width: 70px; height: 70px;" src="../../../assets/total_tps.png" alt="TPS"></ion-img>
    <div class="total__tps__info">
      <ion-label>
        <h1>{{totalTps | number}}</h1>
      </ion-label>

      <ion-label>
        <p>Total TPS</p>
      </ion-label>
    </div>
  </div>
  <div class="suara__masuk">
    <ion-img style="width: 70px; height: 70px;" src="../../../assets/suara_masuk.png" alt="TPS"></ion-img>
    <div class="suara__masuk__info">
      <ion-label>
        <h1>{{tps.total_tps_masuk}}</h1>
      </ion-label>

      <ion-label>
        <p>total TPS Masuk</p>
      </ion-label>
    </div>
  </div>
</div>