ion-content {
    width: 100%;
    height: 250px;
}


.detail__candidates {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 20px;
}

ion-avatar {
    background: var(--ion-color-light);
}

.container {
    position: relative;
    overflow: visible;
}

.reload {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Lebih tinggi dari app-perolehan-suara-skeleton */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

ion-spinner {
    width: 30px;
    height: 30px;
}