<ion-header [translucent]="true" appTopBar class="ion-no-border">
  <ion-toolbar class="toolbar_top">
    <div class="daun__biru"></div>
    <ion-buttons slot="secondary">
      <ion-button id="exit-app" (click)="closeAlert()">
        <ion-icon name="log-out-outline" size="large" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" scroll-y="false">
  <app-dashboard-menu-kategori (actionKategoriVote)="actionKategoriVote($event)"></app-dashboard-menu-kategori>
  <ion-text color="dark">
    <h3>Perolehan Suara</h3>
  </ion-text>
  <ng-container *ngIf="loadingDashboardTpsIndikator">
    <div class="container">
      <ng-container *ngIf="reloadDashboardTpsIndikator">
        <div class="reload">
          <ion-spinner name="lines-sharp"></ion-spinner>
          <ion-button fill="clear" (click)="reloadTotalTps()">Reload</ion-button>
        </div>
      </ng-container>
      <app-perolehan-suara-skeleton></app-perolehan-suara-skeleton>
    </div>
  </ng-container>

  <ng-container *ngIf="!loadingDashboardTpsIndikator">
    <app-dashboard-perolehan-suara [tps]="totalTps"></app-dashboard-perolehan-suara>
  </ng-container>


  <ng-container *ngIf="perolehanSuaraPartaiLoading">
    <div class="container">
      <ng-container *ngIf="reloadIndikator">
        <div class="reload">
          <ion-spinner name="lines-sharp"></ion-spinner>
          <ion-button fill="clear" (click)="reload()">Reload</ion-button>
        </div>
      </ng-container>
      <app-perolehan-suara-partai-skeleton></app-perolehan-suara-partai-skeleton>
    </div>
  </ng-container>

  <app-perolehan-suara-partai *ngIf="!perolehanSuaraPartaiLoading"
    [suaraPartai]="suaraPartai"></app-perolehan-suara-partai>

</ion-content>


<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="gotoDashbboard()">
    <ion-icon name="apps-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>