<div class="paslon">
    <ng-container *ngFor="let paslon of paslon">
        <div class="paslon-detail">
            <div class="paslon-desc">
                <ion-thumbnail class="foto-calon" slot="start">
                    <img [src]="paslon.photo"
                        alt="The Wisconsin State Capitol building in Madison, WI at night" />
                </ion-thumbnail>
            </div>
            <ion-text class="nama-paslon ion-text-wrap">
                {{paslon.n_calon}}<br>&<br>{{paslon.n_wakil_calon}}
            </ion-text>
        </div>
    </ng-container>

</div>