.paslon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}
.paslon-detail{
    flex: 1;
    background-color: #B69FD5;
    border-radius: 16px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    align-content: stretch; 
    justify-content: flex-start;
    padding: 16px; 
    min-height: 200px;
}

.paslon-desc{
    display: flex;
    flex-direction: row; 
    align-items: center; 
}

.foto-calon{
    flex: 1;
    width: 50px;
    height: 50px;
}

.urut-calon{
    flex: 1;
    text-align: center;
    color: #1B0000;
}

.nama-paslon{
    font-size: 14px;
    text-align: center;
    color: #1B0000;
}