<div class="user__info">
  <ion-thumbnail class="thumb__user__info">
    <img alt="Silhouette of mountains" src="../../../assets/dpr.png" />
  </ion-thumbnail>
  <div class="user__info__tingkatan">
    <ion-label color="light">
      <h2>Tingkatan</h2>
    </ion-label>

    <ion-label>
      <p>{{tingkatan}}</p>
    </ion-label>
  </div>
  <div class="user__info__dapil">
    <ion-label color="light">
      <h2>Daerah Pilihan</h2>
    </ion-label>

    <ion-label>
      <p>{{dapil}}</p>
    </ion-label>
  </div>
</div>